/* styles for login and signup Modal component */

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.login-modal-main {
  position: fixed;
  border-radius: 8px;
  max-width: 600px;
  width: 85%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

#close-button {
  background: #333;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 2.5rem;
  border-radius: 20px;
  border-width: 0;
}

#close-button:hover {
  background-color: rgb(133, 66, 66);
}

#login-user-form {
  padding: 50px;
  margin: 20px;
  background-color: rgb(137, 220, 245);
}
#create-user-form {
  padding: 50px;
  margin: 20px;
  background-color: rgb(202, 230, 173);
}

.btn-login {
  color: rgb(255, 255, 255);
  background-color: rgb(32, 84, 116);
}

/* Extra small devices (phones, 575px and down) */
@media only screen and (max-width: 575px) {
  .login-modal-main {
    width: 99%;
  }
  #login-user-form {
    padding: 20px 20px 50px 20px;
    margin: 30px;
  }
  #create-user-form {
    padding: 20px 20px 50px 20px;
    margin: 30px;
  }
}
