/* styles for Nav component */

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
}

#link-logout-box {
  background-color: aliceblue;
  color: #999;
}

#link-logout-box:hover {
  background-color: rgb(133, 66, 66);
  color: rgb(228, 233, 237);
}

#link-login-box {
  background-color: aliceblue;
  color: #999;
}

#link-login-box:hover {
  background-color: rgb(133, 66, 66);
  background-color: rgb(147, 33, 33);
  color: rgb(228, 233, 237);
}

.card {
  border-radius: 0;
  border-width: 0;
}