/* Google Fonts */
/* font-family: 'Montserrat', sans-serif; */
/* Montserrat has all weights 100-900 plus italics */
/* Montserrat weights current installed: 300, 400, 500, 800 */
/* font-family: 'Julius Sans One', sans-serif; */
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat:100,200,300,400,500,600,700,800,900");

/* styles for all pages */

html {
  /* height: 100vh; */
}

body {
  /* height: 100vh; */
  font-family: "Montserrat", sans-serif;
  /* font-family: "Julius Sans One", sans-serif; */
}

.container-fluid,
.container {
  /* background-color: rgba(0, 0, 0, 0.2); */
}

#head_container {
  /* border: .1px red solid; */
}

/* NAVIGATION HEAD LINK STYLES BELOW */

#link-search {
  color: #999;
}

#link-saved {
  color: #999;
}

#link-logout {
  color: #999;
}

#link-login {
  color: #999;
}

#link-username {
  color: #999;
}

/* LOGO AND DESCRIPTION STYLES BELOW */

header {
  background-color: white;
  top: 0;
}

#logo_intro {
  /* border: .1px red solid; */
}

#logo_img {
  width: 100%;
}

#logo_col {
  /* border: .1px red solid; */
}

#intro_col {
  padding-top: 20px;
  font-size: 1rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 0.03rem;
  line-height: 125%;
  font-weight: 300;
  color: #444;
}

/* LOGO AND DESCRIPTION STYLES ABOVE */

/* SEARCH SELECT STYLES BELOW */

#search_section {
  /* background-color: whitesmoke; */
}

#search_container {
  /* background-color: beige; */
}

#local_col {
  /* background-color: honeydew; */
}

#feature_col {
  /* background-color: aliceblue; */
}

/* SEARCH SELECT STYLES ABOVE */

/* SEARCH RESULTS STYLES BELOW */

main {
  background-color: white;
  height: 100vh;
}

#results_header {
  height: 30px;
  padding-top: 5px;
}

/* SEARCH RESULTS STYLES ABOVE */

/* FOOTER STYLES BELOW */

footer {
  background-color: grey;
  position: fixed;
  height: 20px;
  bottom: 0px;
}

#license_about {
  /* border: .1px red solid; */
}

#about_col {
  /* border: .1px red solid; */
}

#about_text {
  color: white;
  float: left;
  font-family: "Abel", sans-serif;
  font-weight: 200;
  letter-spacing: 0.05rem;
  font-size: 0.7rem;
}

#license_col {
  /* border: .1px red solid; */
}

#license_text {
  float: right;
  color: white;
  font-family: "Abel", sans-serif;
  font-weight: 200;
  letter-spacing: 0.05rem;
  font-size: 0.7rem;
}

/* FOOTER STYLES ABOVE */

/* JUMBOTRON STYLES BELOW */

#jumbohead {
  /* background-color: #444; */
  background: linear-gradient(217deg, rgba(183, 197, 208, 0.8), rgba(183, 197, 208, 0) 70.71%),
    linear-gradient(33deg, rgba(255, 0, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%),
    #000;
}

#headline {
  font-family: "Julius Sans One", sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 0;
  /* color: rgb(121, 27, 27); */
  color: #ddd;
  font-weight: 900;
}

#subhead {
  /* font-family: 'Julius Sans One', sans-serif; */
  font-weight: 700;
  /* color: rgb(121, 27, 27); */
  color: #ddd;
  letter-spacing: 0.3rem;
  text-align: center;
}

#descriptor {
  font-weight: 400;
  /* color: rgb(140, 129, 129); */
  color: #bbb;
  letter-spacing: 0rem;
  text-align: left;
  max-width: 700px;
  margin: 0 auto;
}

#descriptor::after {
  content: "A random destination finder: directions, info, maps, closest city, and wifi.";
}

.default-display-type {
  text-align: center;
  font-weight: 100;
  color: #eee;
}

.default-display-type::after {
  content: "Select the type of feature and a region to search to get a random destination!";
}

/* MEDIA QUERIES BELOW */

/* Extra small devices (phones, 575px and down) */
@media only screen and (max-width: 575px) {
  #intro_col {
    padding-top: 5px;
  }
  #headline {
    font-size: 2.5rem;
  }
  #subhead {
    font-size: 8px;
    letter-spacing: 0.17rem;
  }
  #descriptor {
    font-size: 0.83rem;
    max-width: 270px;
    font-weight: 400;
  }
  #jumbohead {
    padding-top: 15px;
    height: 145px;
    margin-bottom: 0px;
  }
  .default-display-type {
    font-size: 1.4rem;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  #intro_col {
    padding-top: 30px;
    font-size: 0.95rem;
  }
  #headline {
    font-size: 4.4rem;
  }
  #subhead {
    font-size: 0.8rem;
    margin-bottom: 15px;
    margin-top: -5px;
  }
  #descriptor {
    font-size: 1.1rem;
    max-width: 450px;
    font-weight: 300;
  }
  #jumbohead {
    padding-top: 30px;
    height: 225px;
    margin-bottom: 0px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #intro_col {
    font-size: 1.2rem;
  }
  #headline {
    font-size: 5rem;
  }
  #subhead {
    font-size: .95rem;
    margin-bottom: 15px;
    margin-top: -5px;
  }
  #descriptor {
    text-align: center;
    font-size: 1.1rem;
    max-width: 700px;
    font-weight: 200;
    letter-spacing: .01rem;
  }
  #jumbohead {
    padding-top: 30px;
    height: 215px;
    margin-bottom: 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #intro_col {
    font-size: 1.6rem;
  }
  #headline {
    font-size: 5rem;
  }
  #subhead {
    font-size: .95rem;
    margin-bottom: 15px;
    margin-top: -5px;
  }
  #descriptor {
    text-align: center;
    font-size: 1.2rem;
    max-width: 800px;
    font-weight: 200;
    letter-spacing: .01rem;
  }
  #jumbohead {
    padding-top: 30px;
    height: 215px;
    margin-bottom: 0px;
  }
}

/* MEDIA QUERIES ABOVE */
