/* styles for Background */

.carousel {
  width: 100%;
  height: 100%;
  z-index: -10;
  position: fixed;
  top: 0%;
}

.carousel-inner {
  height: 100%;
}

.item {
  background-size: cover;
  background-position: 50% 50%;
}

.carousel-item {
  height: 100%;
  /* transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]; */
  /* transition: transform 2s ease, opacity 0.5s ease-out; */
}

/* carousel needs the actual image to function, but for sizing we are using the background-image property for cover-sizing the photo */
.item img {
  visibility: hidden;
}
