/* styles for ResultCard */

/* Google Fonts */
/* font-family: 'Montserrat', sans-serif; */
/* Montserrat has all weights 100-900 plus italics */
/* Montserrat weights current installed: 300, 400, 500, 800 */
/* font-family: 'Julius Sans One', sans-serif; */

/* .feature-name {
  font-weight: 800;
} */

.nametypecountry {
  /* font-size: 0.95rem; */
}

.featurelonglat {
  color: rgb(141, 172, 211);
}

.nearplacename {
  font-size: 0.85rem;
  color: rgb(63, 95, 133);
}

.wifimapnumbers {
  display: inline-block;
  margin-top: 3px;
  margin-right: 2px;
  color: rgb(51, 103, 181);
  font-weight: 800;
  font-size: .82rem;
}
/* MEDIA QUERIES BELOW */

/* Extra small devices (phones, 575px and down) */
@media only screen and (max-width: 575px) {
  .nametypecountry {
    font-size: 0.95rem;
  }
  .featurelonglat {
    font-size: 0.85rem;
    margin-top: 2.4px;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .nametypecountry {
    font-size: 1rem;
  }
  .featurelonglat {
    font-size: 0.9rem;
    margin-top: 2.4px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nametypecountry {
    font-size: 1.1rem;
  }
  .featurelonglat {
    /* font-size: 0.95rem; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nametypecountry {
    font-size: 1.1rem;
  }
  .featurelonglat {
    /* font-size: 0.95rem; */
  }
}

/* MEDIA QUERIES ABOVE */
