/* styles for Header */

html {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(217deg, rgba(183, 197, 208, 0.8), rgba(183, 197, 208, 0) 70.71%),
    linear-gradient(127deg, rgba(220, 235, 193, 0.8), rgba(220, 235, 193, 0) 70.71%),
    linear-gradient(336deg, rgba(208, 198, 183, 0.8), rgba(208, 198, 183, 0) 70.71%), url(/assets/images/dfbkg.jpg) center center;
  background-size: cover;
}
